<div>
  <load-progress ng-show="loadProgess"></load-progress>
  <div menu></div>

  <div class="fixed-action-btn" ng-if="tabAtual.flg_add_item > 0">
    <a ng-click="openModal(tabAtual._id == 6 ? 'modal-convidado' : 'modal-produto')" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- Modal adicionar produto -->
  <div id="modal-produto" class="modal modal-fixed-footer fullscreen">
    <div class="modal-content">
      <h5 class="corsiva title-modal">Adicionando produto a "{{ tabAtual.name }}"</h5>
      <form id="produtos" class="col s12" name="form">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <input id="nome_prd" ng-model="newProduto.nome" type="text" required>
            <label for="nome_prd">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <input id="desc_prd" ng-model="newProduto.desc" type="text" required>
            <label for="desc_prd">Descrição</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">link</i>
            <input id="link_prd" ng-model="newProduto.link" type="text" required>
            <label for="link_prd">Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">money</i>
            <input id="valor_prd" ng-model="newProduto.valor" ng-blur="calcTotal(true)" type="text" ui-money-mask="2" inputmode="numeric" required>
            <label for="valor_prd">Valor</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">attach_money</i>
            <input id="vlr_total" ng-model="newProduto.total" type="text" ui-money-mask="2" inputmode="numeric" required disabled>
            <label class="active" for="vlr_total">Total</label>
          </div>
          <div class="input-field col s6 input-qtd">
            <div class="col s4 qtd-icon" ng-click="quantidade(true, false)">
              <i class="material-icons">remove_circle_outline</i>
            </div>
            <div class="col s4 vlr-qtd text-center">
              {{ newProduto.qtd }}
            </div>
            <div class="col s4 qtd-icon" ng-click="quantidade(true, true)">
              <i class="material-icons">add_circle_outline</i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field">
            <div class="btn red">
              <span><i class="large material-icons">add_a_photo</i></span>
              <input type="file" ng-file-model="fileImg" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat float-left">Cancelar</a>
      <a ng-click="salvarProduto(form)" class="modal-close waves-effect waves-green btn-flat">Salvar</a>
    </div>
  </div>

  <!-- MODAL OPTIONS -->
  <div id="modal-option-produto" class="modal">
    <div class="modal-content">
      <h5 class="corsiva title-modal">{{ prd_opt.nome }}</h5>
      <ul class="collection">
        <li class="collection-item avatar cursor" ng-click="changeCompra(prd_opt)">
          <i class="material-icons circle red"  ng-if="prd_opt.comprado == 0">bookmark_add</i>
          <i class="material-icons circle red"  ng-if="prd_opt.comprado > 0">bookmark_remove</i>
          <span class="title" ng-if="prd_opt.comprado == 0">Marcar como comprado</span>
          <span class="title" ng-if="prd_opt.comprado > 0">Desmarcar compra</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li>
        <li class="collection-item avatar cursor" ng-click="editarProduto(prd_opt)">
          <i class="material-icons circle red">edit</i>
          <span class="title">Editar</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li>
        <li class="collection-item avatar cursor" ng-click="openModal('modal-excluir-produto')">
          <i class="material-icons circle red">delete</i>
          <span class="title">Excluir</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>

  <!-- MODAL EXCLUSÃO -->
  <div id="modal-excluir-produto" class="modal">
    <div class="modal-content text-center">
      <h5 class="corsiva title-modal"> Deseja excluir esse produto? <br> "{{ prd_opt.nome }}"</h5>
      <p>
        <a ng-click="excluirProduto(prd_opt._id)" class="modal-close waves-effect waves-light btn red">
          <i class="material-icons right">delete</i>
          button
        </a>
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>

  <!-- MODAL EDITAR PRODUTO -->
  <div id="modal-editar-produto" class="modal modal-fixed-footer fullscreen">
    <div class="modal-content">
      <h5 class="corsiva title-modal">Editar produto</h5>
      <form id="produtos" class="col s12" name="formEdit">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">menu</i>
            <select ng-model="editPrd.tab">
              <option ng-repeat="tab in tabs" ng-selected="tab._id == tabAtual._id" value="{{tab._id}}" ng-if="tab.flg_add_item > 0">{{tab.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <input id="edit_nome_prd" ng-model="editPrd.nome" type="text" required>
            <label class="active" for="edit_nome_prd">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <input id="edit_desc_prd" ng-model="editPrd.descricao" type="text" required>
            <label class="active" for="edit_desc_prd">Descrição</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">link</i>
            <input id="edit_link_prd" ng-model="editPrd.link" type="text" required>
            <label class="active" for="edit_link_prd">Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">money</i>
            <input id="edit_vlr_prd" ng-model="editPrd.valor" ng-blur="calcTotal(false)" type="text" ui-money-mask="2" inputmode="numeric" required>
            <label class="active" for="edit_vlr_prd">Valor</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">attach_money</i>
            <input id="edit_vlr_total" ng-model="editPrd.total" type="text" ui-money-mask="2" inputmode="numeric" required disabled>
            <label class="active" for="edit_vlr_total">Total</label>
          </div>
          <div class="input-field col s6 input-qtd">
            <div class="col s4 qtd-icon" ng-click="quantidade(false, false)">
              <i class="material-icons">remove_circle_outline</i>
            </div>
            <div class="col s4 vlr-qtd text-center">
              {{ editPrd.qtd }}
            </div>
            <div class="col s4 qtd-icon" ng-click="quantidade(false, true)">
              <i class="material-icons">add_circle_outline</i>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat float-left">Cancelar</a>
      <a ng-click="salvarAlteracaoProduto(formEdit)" class="waves-effect waves-green btn-flat">Salvar</a>
    </div>
  </div>

  <!-- Modal convidados -->
  <div id="modal-convidado" class="modal modal-fixed-footer fullscreen">
    <div class="modal-content">
      <h5 class="corsiva title-modal">Adicionando Convidado</h5>
      <form id="convidado" class="col s12" name="form">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">face</i>
            <input id="nome_cv" ng-model="convidado.nome" type="text" required>
            <label for="nome_cv">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="fa-solid fa-person-half-dress prefix"></i>
            <select ng-model="convidado.por">
              <option value="noivo">NOIVO</option>
              <option value="noiva">NOIVA</option>
            </select>
            <label for="nome_prd">Convidado pelo(a)</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat float-left">Cancelar</a>
      <a ng-click="salvarConvidado(form)" class="modal-close waves-effect waves-green btn-flat">Salvar</a>
    </div>
  </div>
</div>