<div>
  <load-progress ng-show="loadProgess"></load-progress>
  <div menu></div>

  <div class="fixed-action-btn" ng-if="tabAtual.flg_add_item > 0">
    <a ng-click="openModal('modal-produto')" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- Modal adicionar produto -->
  <div id="modal-produto" class="modal modal-fixed-footer fullscreen">
    <div class="modal-content">
      <h5 class="corsiva title-modal">Adicionando produto a "{{ nomeTabeAtual }}"</h5>
      <form id="produtos" class="col s12" name="form">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <input id="nome_prd" ng-model="newProduto.nome" type="text" required>
            <label for="nome_prd">Nome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <input id="desc_prd" ng-model="newProduto.desc" type="text" required>
            <label for="desc_prd">Descrição</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">link</i>
            <input id="link_prd" ng-model="newProduto.link" type="text" required>
            <label for="link_prd">Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">money</i>
            <input id="valor_prd" ng-model="newProduto.valor" type="text" ui-money-mask="2" inputmode="numeric" required>
            <label for="valor_prd">Valor</label>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field">
            <div class="btn red">
              <span><i class="large material-icons">add_a_photo</i></span>
              <input type="file" ng-file-model="fileImg" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a ng-click="salvarProduto(form)" class="modal-close waves-effect waves-green btn-flat">Salvar</a>
    </div>
  </div>

  <!-- MODAL OPTIONS -->
  <div id="modal-option-produto" class="modal">
    <div class="modal-content">
      <h5 class="corsiva title-modal">{{ prd_opt.nome }}</h5>
      <ul class="collection">
        <!-- <li class="collection-item avatar">
          <i class="material-icons circle yellow">content_paste</i>
          <span class="title">Mover produto</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li> -->
        <li class="collection-item avatar" ng-click="changeCompra(prd_opt)">
          <i class="material-icons circle red"  ng-if="prd_opt.comprado == 0">bookmark</i>
          <i class="material-icons circle red"  ng-if="prd_opt.comprado > 0">bookmark_border</i>
          <span class="title" ng-if="prd_opt.comprado == 0">Marcar como comprado</span>
          <span class="title" ng-if="prd_opt.comprado > 0">Desmarcar compra</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li>
        <li class="collection-item avatar" ng-click="openModal('modal-excluir-produto')">
          <i class="material-icons circle red">delete</i>
          <span class="title">Excluir</span>
          <p>"{{ prd_opt.nome }}"</p>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>

  <!-- MODAL EXCLUSÃO -->
  <div id="modal-excluir-produto" class="modal">
    <div class="modal-content text-center">
      <h5 class="corsiva title-modal"> Deseja excluir esse produto? <br> "{{ prd_opt.nome }}"</h5>
      <p>
        <a ng-click="excluirProduto(prd_opt._id)" class="modal-close waves-effect waves-light btn red">
          <i class="material-icons right">delete</i>
          button
        </a>
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
</div>