<div>
  <div class="row">
    <nav class="logo-casal">
      <div class="nav-wrapper">
        <a class="brand-logo ">
          <img class="circle" src="img/logo.jpeg"/>
        </a>
      </div>
      <a ng-click="logout()" class="logout cursor">
        <i class="material-icons">power_settings_new</i>
      </a>
    </nav>
    <div class="row">
      <ul class="tabs col s12">
        <li class="tab col s2" ng-repeat="tab in tabs" ng-class="{'s3': tab.ordem == 3, 's2': tab.ordem != 3}">
          <div ng-if="tab.ordem == 3" class="adend"></div>
          <a class="tab-atual cursor menu-tab" ng-click="changeTab(tab)" ng-class="{'tab-selected': tabAtual._id == tab._id }" ng-bind-html="html(!tab.icon ? tab.name : tab.icon)"></a>
        </li>
      </ul>
    </div>
    <div id="tabs-body">
      <div class="row" ng-if="produtos.length > 0 && tabAtual.flg_add_item > 0 && tabAtual.cod == 'PRD'">
        <div class="col s12" ng-if="tabAtual.calculo == 0">
          <div class="col s6 present-list-par">
            <a target="_blank" href="http://finalfeliz.de/gabriel-olimpio-amanda-bispo">
              <img src="img/magalu.png"/>
            </a>
          </div>
          <div class="col s6 present-list-par">
            <a target="_blank" href="https://listas.pontofrio.com.br/gabriel-amanda-presentes-2022">
              <img src="img/ponto.webp"/>
            </a>
          </div>
        </div>
        <div class="col s10 offset-s1 m3" ng-repeat="produto in produtos">
          <div class="card">
            <div class="card-image" ng-touch-hold="prdOptions(produto)">
              <i ng-if="produto.qtd > 1" class="material-icons color-qtd">filter_{{ produto.qtd }}</i>
              <i class="material-icons color-mark"  ng-if="produto.comprado > 0">bookmark</i>
              <img class="activator" src="{{buket}}{{produto.img}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{produto.nome}} {{produto.valor | currency:"R$":2 }}<i class="material-icons right">arrow_drop_up</i></span>
              <p>
                <a class="cursor" ng-click="prdOptions(produto)"><i class="material-icons right conf-desk">settings</i></a>
                <a target="_blank" href="{{produto.link}}"> <i class="material-icons right">insert_link</i> Site para compra</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{produto.nome}} <i class="material-icons right">arrow_drop_down</i></span>
              <p>{{produto.descricao}}</p>
              <br>
              <p>Preço: {{produto.valor | currency:"R$":2 }}</p>
              <br>
              <p>Quantidade {{produto.qtd}}</p>
              <br>
              <p>Valor total: {{produto.valor * produto.qtd | currency:"R$":2 }}</p>
            </div>
          </div>
        </div>		
      </div>

      <div class="row" ng-if="produtos.length > 0 && tabAtual.flg_add_item == 0 && tabAtual.cod == 'PRD'">
        <div class="table-wrapper">
          <table class="striped centered col s10 offset-s1 tb-comprado">
            <thead>
              <tr>
                <th>NOME</th>
                <th>VALOR</th>
                <th>QTD</th>
                <th>TOTAL</th>
              </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="produto in produtos" ng-touch-hold="prdOptions(produto)">
                <td>{{ produto.nome }} </td>
                <td>{{ produto.valor | currency:"R$":2 }}</td>
                <td>{{ produto.qtd }}</td>
                <td>{{ produto.valor * produto.qtd | currency:"R$":2 }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="footer-comprado">
          <div class="row">
            <div class="col s6 text-center"> <b>Valor a gastar</b> <br> {{ vlr.comprar | currency:"R$":2 }}</div>
            <div class="col s6 text-center"><b>Valor gasto</b> <br> {{ vlr.comprados | currency:"R$":2 }}</div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="convidados.length > 0 && tabAtual.cod == 'CVD'">
        <div class="table-wrapper">
          <table class="striped centered col s10 offset-s1 tb-comprado">
            <thead>
              <tr>
                <th>NOME</th>
                <th>LISTA</th>
                <th>ENVITE</th>
              </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="convidado in convidados">
                <td>{{ convidado.nome }} </td>
                <td>{{ convidado.por }}</td>
                <td> 
                  <i ng-if="convidado.envite == 0" ng-click="conviteCheck(convidado, 1)" class="fa-regular fa-circle-xmark" ng-class="{'envite-red': convidado.envite == 0}"></i>
                  <i ng-if="convidado.envite == 1" ng-click="conviteCheck(convidado, 0)" class="fa-regular fa-circle-check" ng-class="{'envite-green': convidado.envite == 1}"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="footer-comprado">
          <div class="row">
            <div class="col s6 text-center"> <b>Total</b> <br> {{ convidados.length }}</div>
            <div class="col s6 text-center"><b>Convidados</b> <br> {{ envites.length }}</div>
          </div>
        </div>
      </div>

      <div class="row corsiva sem-produto" ng-if="produtos.length == 0 && tabAtual.cod == 'PRD' || convidados.length == 0 && tabAtual.cod == 'CVD'">
        Nenhum Item para essa lista!
      </div>	
    </div>
  </div>
</div>